OUTPUTS/TASK*/
THESIS/figures/
THESIS/acronyms.aux
THESIS/dissertation.aux
THESIS/dissertation.bbl
THESIS/dissertation.bcf
THESIS/dissertation.blg
THESIS/dissertation.fdb_latexmk
THESIS/dissertation.fls
THESIS/dissertation.glsdefs
THESIS/dissertation.log
THESIS/dissertation.out
THESIS/dissertation.run.xml
THESIS/dissertation.synctex.gz
THESIS/dissertation.toc
SRC/ARCHIEVE*
ARCHIEVE*
*.h5
*_subset_residuals.txt
*.json
.DS_Store